<div class="centered_div">
    <h1 class="text_orbitron_bold inline_title">MAL</h1>
    <h2 class="text_orbitron inline_title"> Search.</h2>
    <h1 class="text_quicksand inline_title"> In JSON.</h1>
</div>
